.hero-image {
  background: url(https://res.cloudinary.com/dcgapn1j0/image/upload/v1581624050/abstract-3320979_1280_ea7r6r.jpg);
  height: 37vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  text-align: center;
  color: rgba(247, 6, 206, 0.692);
  text-shadow: 2px 2px 7px #999999;
  margin-bottom: 3vh;
}